@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow: none;
    font-family: 'roboto', sans-serif;
}
.header {
    background-image: url(../images/imageBackground.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    padding-top: 1vh;
}
.header__logo {
    font-size: 30px;
}
.navbar {
    display: flex;
    gap: 40vw;
    color: DarkGray;
    font-size: 20px;
}
.navbar__link {
    color: darkgray;
}
.navbar__list {
    display: flex;
    text-transform: uppercase;
    gap: 2.5vw;
}
.container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.header__title {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.6vw;
}
.header__subtitle {
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 2vh;
}
.argumentlist {
    display: flex;
    align-items: center;
    justify-content: center;
}
.argumentlist__container {  
    display: flex;
    flex-wrap: wrap;
    width: 51.4vw;
    margin: 9vh 0 9vh 0;
}
.container__item {
    width: 17vw;
    /* height: 35vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container__item--title {
    background-color: black;
    color: white;
    font-size: 25px;
}
.argumentlist__title {
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;    
}
.argumentlist--boldText {
    font-family: 'Libre Baskerville', serif;
}
.fa-arrow-right-long {
    font-size: 60px;
}
.container__item--img1 {
    background-image: url(../images/eargreg.jpg);
    background-size: cover;
}
.container__item--img2 {
    background-image: url(../images/cevref.jpg);
    background-size: cover;
}
.item__text {
    text-align: center;
    padding: 0 1vw 0 1vw;
    font-size: 17px;
    font-weight: 100;
    line-height: 3vh;
    margin-top: 3vh;
}
.container__item--title {
    display: flex;
    align-items: flex-start;
}
.container__item--title .argumentlist__title,
.container__item--title .fa-arrow-right-long {
    margin-left: 1vw;
}
.fa-arrow-right-long {
    margin-top: 5vh;
}
.bannerCat {
    height: 70vh;
    background-image: url(../images/20180328203314-3fb7e470.jpg);
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bannerCat__title {
    font-family: 'Libre Baskerville', serif;
    margin: 5vh 0 2vh 0;
    font-size: 40px;
    font-weight: 100;
}
.bannerCat .bannerCat__title,
.bannerCat .bannerCat__texte {
    margin-right: 50vw;
}
.bannerCat__text {
    text-transform: uppercase;
    letter-spacing: 0.70vw;
    font-size: 18px;
}
.argumentRescue {
    background-color: #e5e5e5;
    padding-top: 5vh;
    height: 130vh;
}
.argumentRescue__container {
    display: flex;
}
.argumentRescue__container--top {
    border: red solid 1px;
}
.argumentRescue__containerText {
    width: 33.33vw;
}
.argumentRescue__containerImg {
    width: 33.33vw;
    object-fit: cover;
}
.argumentRescue__containerImg img {
    width: 100%;
}
.argumentRescue__containerSocialMedia {
    width: 33.33;
}