@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow: none;
    font-family: 'roboto', sans-serif;
}
.fa-brands {
    color: black;
}
.header {
    background-image: url(../images/imageBackground.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    padding-top: 1vh;
}
.header__logo {
    font-size: 30px;
}
.navbar {
    display: flex;
    gap: 40vw;
    color: DarkGray;
    font-size: 20px;
}
.navbar__link {
    color: darkgray;
}
.navbar__list {
    display: flex;
    text-transform: uppercase;
    gap: 2.5vw;
}
.container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.header__title {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.6vw;
}
.header__subtitle {
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 2vh;
}
.argumentlist {
    display: flex;
    align-items: center;
    justify-content: center;
}
.argumentlist__container {  
    display: flex;
    flex-wrap: wrap;
    width: 51.4vw;
    margin: 9vh 0 9vh 0;
}
.container__item {
    width: 17vw;
    /* height: 35vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container__item--title {
    background-color: black;
    color: white;
    font-size: 25px;
}
.argumentlist__title {
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;    
}
.argumentlist--boldText {
    font-family: 'Libre Baskerville', serif;
}
.fa-arrow-right-long {
    font-size: 60px;
}
.container__item--img1 {
    background-image: url(../images/eargreg.jpg);
    background-size: cover;
}
.container__item--img2 {
    background-image: url(../images/cevref.jpg);
    background-size: cover;
}
.item__text {
    text-align: center;
    padding: 0 1vw 0 1vw;
    font-size: 17px;
    font-weight: 100;
    line-height: 3vh;
    margin-top: 3vh;
}
.container__item--title {
    display: flex;
    align-items: flex-start;
}
.container__item--title .argumentlist__title,
.container__item--title .fa-arrow-right-long {
    margin-left: 1vw;
}
.fa-arrow-right-long {
    margin-top: 5vh;
}
.bannerCat {
    height: 70vh;
    background-image: url(../images/20180328203314-3fb7e470.jpg);
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bannerCat__title {
    font-family: 'Libre Baskerville', serif;
    margin: 5vh 0 2vh 0;
    font-size: 40px;
    font-weight: 100;
}
.bannerCat .bannerCat__title,
.bannerCat .bannerCat__texte {
    margin-right: 50vw;
}
.bannerCat__text {
    text-transform: uppercase;
    letter-spacing: 0.70vw;
    font-size: 18px;
}
.argumentRescue {
    background-color: #e5e5e5;
    padding-top: 5vh;
    height: 130vh;
}
.argumentRescue__container {
    display: flex;
    margin-bottom: 6vh;
}
.argumentRescue__containerText {
    width: 33.33vw;
}
.argumentRescue__containerText--1 {
    display: flex;
    justify-content: flex-end;
}
.argumentRescue__containerImg {
    width: 33.33vw;
    height: 60vh;
    background-size: cover;
}
.argumentRescue__containerSocialMedia {
    width: 33.33vw;
}
.argumentRescue__containerImg--1 {
    background-image: url(../images/femmeChien.jpg);
}
.argumentRescue__containerImg--2 {
    background-image: url(../images/dqfsdf.jpg);
}
.argumentRescue__containerText--inner {
    width: 13.8vw;
    margin: 2vh 1vw 0 0;
}
.argumentRescue__title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    margin-bottom: 2vh;
    font-size: 18px;
    font-weight: 100;
}
.argumentRescue__subTitle {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 2vh;
    font-size: 28px;
}
.argumentRescue__containerTop--spanBold {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}
.argumentRescue__text {
    line-height: 2.6vh;
    margin-bottom: 4vh;
}
.argumentRescue__containerText__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.argumentRescue__subTitle--bottom {
    text-align: right;
    margin: 2vh 1.5vw 4vh 0;
}
.argumentRescue__title--bottom {
    margin: 0 1.5vw 0 0;
}
.argumentRescue__containerSocialMedia {
    display: flex;
    align-items: flex-end;
}
.argumentRescue__containerInner--socialMedia {
    font-size: 25px;
}
.argumentRescue__containerSocialMedia--inner {
    margin-left: 1.5vw;
    width: 23vw;
}
.argumentRescue__containerInner--socialMedia {
    margin-bottom: 7vh;
}
.socialMedia__icon {
    margin-right: 1.5vw;
}
.dogTraining {
    background-image: url(../images/images.jpg);
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dogTraining__container {
    width: 27vw;
    margin: 0 40vw 0vh 0;
}
.dogTraining__subTitle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: 18px;
    font-weight: 100;
    margin: 1vh 0 3vh 0;
}
.dogTraining__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
}
.dogTraining__button {
    width: 13vw;
    height: 4.5vh;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    margin-top: 3vh;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.3vw;
}